<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense tracker app</title>
   
</head>
<body>
    <form  id="appointmentform">
        <label>Expense:</label>
        <input type="text"  name="name" placeholder="Enter your expense" id="epense">
        <label>Amount:</label>
        <input type="number"  name="number" placeholder="Enter your expense amount" id="amount">
        <label>Description:</label>
        <input type="text"  name="description" placeholder="Enter description" id="description">

        <button type="submit">Submit</button>
        
       
    </form>
    <ul id="itemList"></ul>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script defer src="/expense.js"></script>

</body>
</html>